body {
    font-family: $bodyfn;
    background-color: #F6F8FA;
    font-size: 16px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.tw-container {
    padding: 83px 40px 15px 40px;
}