<ng2-slim-loading-bar class="loader" [color]="'#4C9FEB'" [height]="'4px'"></ng2-slim-loading-bar>
<div class="container-fluid tw-header">
    <ul class="nav nav-tabs pull-left">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" class="menu" routerLink="/recent">Recent</li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" class="menu" routerLink="/trend">Trending</li>
    </ul>
    <ul class="nav nav-tabs pull-right">
        <input class="searchbox" type="text" placeholder="Whats happening" />
    </ul>
</div>
<router-outlet></router-outlet>